name: TestPR

on: 
  push:
    branches:
    - master
    paths: 
    - 'test/test.md'

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      run: echo This event is a pull request that had an assignee removed.
